version: "3.9"

services:

  jjrpadel:
    container_name: jjrpadel
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8080:8080"
    environment:
      TZ: Europe/Madrid
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATA_MONGODB_URI: "mongodb+srv://jjr:wTS1jy72qZP3lCaf@jjrpadel.qc3qicu.mongodb.net/jjrpadel?retryWrites=true&w=majority&appName=jjrpadel"
      JAVA_OPTS: "-Dvaadin.productionMode=true -Dvaadin.useDevServer=false"
    networks:
      - backend

  nginx:
    container_name: nginx
    image: nginx:latest
    restart: always
    depends_on:
      - jjrpadel
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/jjrpadel.conf:/etc/nginx/conf.d/jjrpadel.conf:ro
      - /var/log/nginx:/var/log/nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - backend

networks:
  backend:
    driver: bridge
